{% extends 'layouts/base.html' %}

{% block title %}
GMU Advisor | About
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>About Advisor</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>What is Advisor?</h2>
    <p>Advisor automates academic advising.* Build your trajectory to graduation, toy with new ideas, and compare your options.</p>
  </div>

  <div class="col-md-4">
    <h2>A Second Pressing Question</h2>
    <p>A warm, supportive answer.</p>
  </div>

  <div class="col-md-4">
    <h2>What is Mason SRCT?</h2>
    <p>We rob banks.</p>
  </div>
</div>

<p>*Not intended as a replacement for formal academic advising through your department. Currently only supports undergraduate programs.</p>

{% endblock %}
