{% extends 'layouts/base.html' %}

{% block title %}
GMU Advisor | Compare
{% endblock %}

{% block content %}

<h3>Compare up to three trajectories.</h4>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for "myTrajectories" class="col-sm-2">My Trajectories</label>  
      <div class="col-sm-4">
        <select class="form-control">
          <option>My Trajectory 1</option>
          <option>My Trajectory 2</option>
          <option>My Trajectory 3</option>
          <option>My Trajectory 4</option>
        </select>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-primary">+</button>
      </div>
  </div>

  <div class="form-group">
    <label for "myTrajectories" class="col-sm-2">My Trajectories</label>  
      <div class="col-sm-4">
        <input type"text" class="form-control" id="Trajectory" placeholder="dbond2">
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-primary">+</button>
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-1">
      <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>

{% endblock %}
