{% extends 'layouts/base.html' %}

{% block title %}
GMU Advisor | Create
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Daniel's Trajectory for Computer Science, BS, and History, BA</h2>
      <p class="lead">Semester Four</p>
      <!-- Eventually need to give the graduation dates!
           Can't believe I hadn't thought of that! -->
    </div>
  </div>
</div>

<div class="row well">
  <div class="col-md-12">
  See your previous semesters
    <!-- accordian for previously semesters' trajectories -->
    {% for trajectory in previousTrajectories %}
      <div class="col-md-12">
        {% for course in trajectory %}
          <div class="col-md-4">
	    Your courses
	  </div>
	{% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="row well">
  <h4>
  <div class="col-md-3">
    <p>Semesters ahead</p>
  </div>

  <div class="col-md-3">
    <p>Credits selected this semester</p>
  </div>

  <div class="col-md-3">
    <p>Credits remaining for program</p>
  </div>
  </h4>
</div>

<div class="row well">
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
These are the classes you'd be eligible to take this semester. Select the classes you want and hit Submit to continue.
      <div id=section-collapse" class="collapse in">
      <h4>Majors</h4>
        <div class="form-group">
          {% for program in programs %}
            <div class="col-md-4">

            </div>
	  {% endfor %}
        </div>
      </div>

      <div id=section-collapse" class="collapse in">
	<h4>Minors</h4>
          <div class="form-group">
            {% for minor in minors %}
              <div class="col-md-4">
    	    
	      </div>
            {% endfor %}
          </div>
      </div>

      <div id=section-collapse" class="collapse in">
        <h4>Gen Eds</h4>
          <!-- automatically takes into account BA/BS issues-
	  has both- maybe popover? -->
          <div class="form-group">
            {% for genEdCollection in genEdCollections %}
	      <div class="col-md-12">
                <!-- information about the gened then loads in an accordian -->
	          {% for courses in genEdCollection %}
		    <div class="col-md-4">

		    </div>
		  {% endfor %}
	      </div>
	    {% endfor %}
	</div> 
      </div>

      <!-- some javascript to count the number of credits selected-->
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Selecting more than 18 credits will require approval of the Dean
      </div>

      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Full time is considered 12-15 credits.
      </div>

      <div class="form-group">
      <div class="col-sm-offset-11 col-sm-1">
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
