{% extends 'layouts/base.html' %}

{% block title %}
SRCT Advisor
{% endblock %}

{% block content %}

<h2>Welcome to Advisor, a project of GMU SRCT.</h2></p>

<p><h3>This site automates academic advising.* Just select the classes you've already taken, and follow the instructions to start visualizing the path to completing your degree. Sign in with your GMU student username and password at the top to save your progress or compare multiple trajectories.</h3><p>

<p><h6>Not intended as a replacement for formal academic advising.</h6></p>

<!--change text if logged it: this is where "create a new trajectory" goes-->

<form class="form-horizontal" role="form">
  Select your courses(s).
  <div class="form-group">
    <label for "departmentAbbr" class="col-sm-2">Department</label>
    <label for "courseNumber" class="col-sm-2">Course Number</label>
    <label for "name" class="col-sm-2">Name</label>
  </div>
  Select your program(s).
  <div class="form-group">
    <label for "Program" class="col-sm-2">Program</label>
  </div>
  Select your minor(s).
  <div class="form-group">
    <label for "Program" class="col-sm-2">Minor</label>
  </div>
  Are you in the Honors College?
  <div class="form-group">
    <label for "degreeType" class="col-sm-2">Honors</label>
  </div>
</form>

{% endblock %}
