{% extends 'layouts/base.html' %}

{% block title %}
GMU SRCT Advisor
{% endblock %}

{% block content %}

<h2>Welcome to Advisor, a project of GMU SRCT.</h2></p>

<p><h3>This site automates academic advising.* Just select the classes you've already taken, and follow the instructions to start visualizing the path to completing your degree. Sign in with your GMU student username and password at the top to save your progress or compare multiple trajectories.</h3><p>

<p><h6>Not intended as a replacement for formal academic advising.</h6></p>

<p>Dropdown menus for Courses. Hopefully some fill-in-the-blanksing.</p>

<p>Select your degree(s).</p>

<p>Select your minor(s).</p>

<p>Are you in the Honors College?</p>

{% endblock %}
