{% extends 'layouts/base.html' %}

{% block title %}
SRCT Advisor
{% endblock %}

{% block content %}

<h2>Welcome to Advisor, a project of GMU SRCT.</h2></p>

<p><h3>Advisor automates academic advising.* Build your trajectory to graduation, toy with new ideas, and compare your options. Just select the classes you've already taken, and follow the instructions to start visualizing the path to completing your degree.</h3></p>

<p><h4>Sign in with your GMU student username and password at the top to save your progress or compare multiple trajectories.</h4><p>

<!--change text if logged it: this is where "create a new trajectory" goes-->

<br />

<form class="form-horizontal" role="form">
  Select your courses(s).
  <div class="form-group">
    <label for "departmentAbbr" class="col-sm-2">Department Abbreviation</label>
      <div class="col-sm-1">
        <input type="text" class="form-control" id="Program" placeholder="ENGH">
      </div>
    <label for "courseNumber" class="col-sm-1">Course Number</label>
      <div class="col-sm-1">
        <input type="text" class="form-control" id="Program" placeholder="302">
      </div>
    <label for "name" class="col-sm-1">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="Program" placeholder="Advanced Composition">
      </div>
   </div>
   <!-- not sure how to have a zillion of these fields keep on appearing -->
  Select your program(s).
  <div class="form-group">
    <label for "Program" class="col-sm-2">Program</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="Program" placeholder="Government and International Politics">
	<!-- autocompletion would be awesome -->
    </div>
  </div>
  Select your minor(s).
  <div class="form-group">
    <label for "Program" class="col-sm-2">Minor</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="Minors" placeholder="Software Engineering">
     </div>
  </div>
  <!-- #cooljsideas for this and select program, have a new field slide out
  when one has been entered (2 for degree, 3 for minor)-->
  Are you in the Honors College?
  <div class="form-group">
    <label for "degreeType" class="col-sm-2">Honors</label>
     <div class="col-sm-5">
      <button type="button" class="btn btn-default btn-sm">Yes</button>
      <button type="button" class="btn btn-primary btn-sm">No</button>
     </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      <!-- need to have the bar across the top loading js -->
    </div>
  </div>
</form>
<br />
<p><h6>*Not intended as a replacement for formal academic advising through your department.</h6></p>
{% endblock %}
