{% extends 'layouts/base.html' %}

{% block title %}
GMU Advisor | {{ student.user.first_name }} {{ student.user.last_name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>{{ student.user.first_name }} {{ student.user.last_name }}</h3>
  </div>
</div>

<h4><strong>My Trajectories</strong></h4>

{% for trajectory in topTrajectories %}
  <div class="row">
    <div class="col-md-5">
      <h4>{{ trajectory.name }}</h4>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary">Edit</button>
    </div>
    <div class="col-md-1">
      {% if trajectory.isPublic %}
        <button type="button" class="btn btn-success">Public</button>
      {% else %}
        <button type="button" class="btn btn-default">Private</button>
      {% endif %}
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
{% endfor %}

<!-- How does one edit the courses that they've already completed? -->

{% endblock %}
